<%- include('header') -%>

  <section class="lecture">
    
    <div class="heading" style="background-image: url('<%= lecture.image %>')" >
      <span class="heading__category"><%= category %></span>
      <h2 class ="heading__title"> <%= title %> </h2>
      </div>

      <%- html %>

  </section>

<%- include('footer') -%>
